---
layout: default
---
<div style="height:30px;"></div>
<div class="home">
   <div class="content-col-wrapper">
      <div class="content-col  content-col-1">
          <!--
          <div style="color: #505050; font-weight:400; font-size:21px; letter-spacing: -1px;">
            description
          </div>
          -->
            <ul class="post-list">
              {% for post in site.posts %}
                <div id="menu" style="height: 30px; width:670px; float:left; border-bottom: 1px dashed #eee; padding-top: 5px;">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </div>

                <div id="content" style="text-align: right; height: 30px; width:100px; float:left; border-bottom: 1px dashed #eee; padding-top: 5px;">
                  <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
                </div>
              {% endfor %}
            </ul>
          </div>

      <div class="content-col content-col-2">
        {% include tweet.html %}
      </div>
    </div>
</div>
</div>
