---
layout: default
---
<div class="container main">
  <div class="row">
    <header>
      <div><center style="margin-top: 1.5em; margin-bottom: 1.5em"><h1>On Software Engineering,<br>Mathematics <span class="et-symbol">&</span> Philosophy</h1></center></div>
    </header>
  </div>
  <div class="row">
		<div class="col-md-1"></div>
    <div class="col-md-8 offset-md-1">
      {% assign categories = site.categories | sort %}
			{% for category in categories %}
				<h3 style="margin-top: 1.5em">{{ category | first }}</h3>
				<p>{% for post in category[1] %}{{ forloop.index }}.&nbsp;<a style="margin-right: .6em" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>{% endfor %}</p>
      {% endfor %}
    </div>
  </div>
</div>
