/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #3D3D3D;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-feature-settings: "kern", "liga=1, dlig=1", "salt";
    -ms-font-feature-settings:  "kern", "liga", "dlig", "salt";
    -webkit-font-feature-settings:  "kern", "liga", "dlig", "salt";
    -o-font-feature-settings:  "kern", "liga", "dlig", "salt";
    font-feature-settings: "kern", "liga", "dlig", "salt";
    text-rendering: optimizeLegibility;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
      margin-bottom: 0;
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/**
 * Footnotes
 */
.footnotes {
  border-top: 1px solid #e8e8e8;
  padding-top: 1em;
  margin-top: 2em;

  > ol {
   margin-left: 0px;
  }
}

sup > .footnote {
   margin-left: -0.2em;
   font-style: normal;
}

/**
 * Links
 */
a {
    color: $alt-color;
    text-decoration: none;

    &:visited {
        color: $alt-color;
    }

    &:hover {
        color: #3f3f3f;
        text-decoration: none;
    }
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $alt-color;
    width: 64px;
    margin: 0;
    margin-top: 36px;
    margin-bottom: 18px;
}

/**
 * Blockquotes
 */
blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 2px solid lighten($alt-color, 10%);
    padding-left: $spacing-unit / 2;
    margin-left: -$spacing-unit / 2 - 2;

    font-style: oblique;

    > :last-child {
        margin-bottom: 0;
    }

    code {
      font-style: normal;
      font-weight: 400;
    }
}

.sidenote {
    margin-left: -210px;
    position: absolute;
    width: 190px;
    right: auto;
    text-align: right;
    font-size: 0.8em;
    line-height: 1.77em;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 14px;
    font-weight: 300;
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-family: 'Source Code Pro', monospace;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    background-color: #eee;
    color: #3D3D3D;
    border-radius: 8px;

    > code {
        color: #3D3D3D;
        background-color: #eee;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Wrapper
 */
.wrapper {
    max-width: calc(1160px);
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    @include media-query($on-palm) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.ornament {
    > svg {
        display: inline-block;
        width: 220px;
        height: 60px;
        vertical-align: middle;

        path {
            fill: $alt-color;
        }
    }
}

.bigicon {
    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            fill: $alt-color;
        }
    }
}
